name: schedule-updater

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: get repo content
        uses: actions/checkout@v2

      - name: setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: run schedule generator
        run: ./gradlew :schedule:generator:run --no-daemon

      - name: put schedule in place
        run: |
          mv build/outputs/schedule.json .
      
      - name: commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore: update schedules'
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          file_pattern: 'schedule*.json'